.App {
  font-family: futura;
  font-size: calc(10px + 1vmin);
}


.App-header-orwell {
  align-items: center;
  background-color: #B03030;
  color: #D3B896;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 3vmin);
  height: 30%;
  justify-content: center;
}

.body-orwell {
  align-items: center;
  background-color: #2F4F4F;
  color: #D3B896;
  display: flex;
  flex-direction: column;
/*  font-size: calc(10px + 1vmin);*/
  min-height: 100vh;
}

.button-orwell-wrapper {
  display:flex
}

.button-orwell {
  background-color: #556B2F;
  border: black 10px solid;
  color: #D3B896;
  font-family: futura;
  font-size: calc(10px + 1vmin);
  height: 50px;
  width: 200px;
}


.App-header-eighties {
  align-items: center;
  background-color: #9B30FF;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 3vmin);
  height: 30%;
  justify-content: center;
}

.body-eighties {
  align-items: center;
  background-color: #1E90FF;
  color: white;
  display: flex;
  flex-direction: column;
/*  font-size: calc(10px + 1vmin);*/
  min-height: 100vh;
  padding-top: 20px;
}

.button-eighties {
  background-color: #FFB6C1;
  border: #39FF14 10px solid;
  color: white;
  font-family: futura;
  font-size: calc(10px + 1vmin);
  height: 50px;
  margin-top: 20px;
  width: 200px;
}

.input-field {
  background-color: black;
  color: white;
  font-family: futura;
  font-size: calc(10px + 1vmin);
  height: 50px;
  padding-left: 10px;
  width: 200px;
}
